body{
	font-family:consolas;
	background:ghostwhite;
}

label{
	margin-top:auto;
	margin-bottom:auto;
}

form{
	
	background:whitesmoke;
	border:1px groove silver;
	padding:6px;
	max-width:300px;
}

.top{
	background:ghostwhite;
	
	
	padding-top:5px;
	border:none;
}

.button{
	
	min-width:140px;
	font-family:helvetica;
	font-size:0.7em;
	margin-bottom:1em;
}

.small{
	font-size:0.8em;
	font-weight:1000;
	color:darkslategray;
}

.ergebnislabel{
	font-size:1.1em;
	margin-top:auto;
	margin-bottom:auto;
	
}

.ergebnisline{
	font-size:1.1em;
	margin-top:auto;
	margin-bottom:auto;
}

input[type=number] {
	text-align: right;
	width:97% !important;
	}

code {
	white-space:pre-wrap;
}