
.code {
    display:flexbox;
    white-space: pre-wrap;
	border: 1px solid black;
	background-color:honeydew;
    padding: 1em;
    font-family:'Courier New', Courier, monospace;
    overflow:auto;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}